---
import SiteMeta from '../components/SiteMeta.astro';

interface Props {
  title: string;
}

const {
  title = 'Junk Gone San Jose',
  description = 'Junk Removal San Jose│ We have been providing junk removal services in San Jose for years. With our experience, we can help you get rid of anything from furniture to appliances, yard waste and much more',
  url,
  image = '/logo-1.jpeg',
  author = 'Gilberto Haro',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://junkgonesanjose.netlify.app/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
