---
import { pwaInfo } from 'virtual:pwa-info';

import SiteMeta from '../components/SiteMeta.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

// interface Props {
// title: string;
// description: string;
// url: string;
// image: string;
// author: string;
// }

const {
  title = 'junk gone hauling and junk removal services san jose',
  description = 'Junk Removal San Jose│ We have been providing junk removal services in San Jose for years. With our experience, we can help you get rid of anything from furniture to appliances, yard waste and much more',
  url,
  image = 'logo-1.jpeg',
  author = 'Gilberto Haro',
} = Astro.props;

// const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Junk Removal San Jose │ We have been providing junk removal services in San Jose for years. With our experience, we can help you get rid of anything from furniture to appliances, yard waste and much more'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='logo-1.jpeg' />
    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://junkgonesanjose.netlify.app/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
    <meta name='generator' content={Astro.generator} />
    <!-- <title>{title}</title> -->
    <!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
    <script src='/pwa.ts'></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script
      type='module'
      src='https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js'
    ></script>
  </body>
</html>
